POProcessing/SOA/WSDLs/ApproveCCOrder.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="ApproveCCOrder"
     targetNamespace="http://xmlns.oracle.com/POApplication/POProcessing/ApproveCCOrder"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:client="http://xmlns.oracle.com/POApplication/POProcessing/ApproveCCOrder"
     xmlns:ns1="http://www.example.org/ns/intorder"
     xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
     xmlns:ns2="/customersdo/common/types/"
    >
    <plnk:partnerLinkType name="ApproveCCOrder">
        <plnk:role name="ApproveCCOrderProvider" portType="client:ApproveCCOrder"/>
        <plnk:role name="ApproveCCOrderRequester" portType="client:ApproveCCOrderCallback"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://www.example.org/ns/intorder" schemaLocation="../Schemas/internalorder.xsd"/>
        </schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="/customersdo/common/types/" schemaLocation="http://localhost:8001/CustomerSDO/CustomerSDOService?XSD=/customersdo/common/serviceinterface/CustomerSDOService.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="ApproveCCOrderRequestMessage">
        <wsdl:part name="payload" element="ns1:order"/>
    </wsdl:message>
    <wsdl:message name="ApproveCCOrderResponseMessage">
        <wsdl:part name="payload" element="ns1:order"/>
    </wsdl:message>
    <wsdl:portType name="ApproveCCOrder">
        <wsdl:operation name="process">
            <wsdl:input message="client:ApproveCCOrderRequestMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="ApproveCCOrderCallback">
        <wsdl:operation name="processResponse">
            <wsdl:input message="client:ApproveCCOrderResponseMessage"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
